.sidebar {
    border-right: 1px solid var(--color-gray-300);
    width: 17rem;
    display: flex;
    flex-direction: column;
    grid-area: 1rem;
    padding: 1rem;
}

.sidebar__logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-weight: 500;
}

